
<footer class="green age-footer">
 
    <div class="container">
      <div class="row"><img src="../../../assets/portadaFooter.jpg" alt="portada avion">
        <div class="col l6 s12">
          <h5 class="white-text">Contactenos</h5>
          <p class="grey-text text-lighten-4">Somos vuelos en linea</p>
        </div>
        <div class="col l4 offset-l2 s12">
          <h5 class="white-text">Links</h5>
          <ul>
            <li><a class="grey-text text-lighten-3" href="#!">Sedes</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Aviones</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Pistas</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Quienes somos</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      © 2014 Copyright Todos los derechos reservados.
      <a class="grey-text text-lighten-4 right" href="#!"></a>
      </div>
    </div>
  
  </footer>
