<img src="../../../../assets/portadaMenus.jpg" alt="portada avion">

<div class="container">
    <br>
    <a routerLink="/vuelos/create" class="btn-large waves-effect waves-light #37474f blue-grey darken-3">Registrar Vuelo</a>
    
    <table class="table responsive">
        <thead>
            <th>Fecha Inicio</th>
            <th>Hora Inicio</th>
            <th>Fecha Fin</th>
            <th>Hora Fin</th>
            <th>Asientos Vendidos</th>
            <th>Nombre Piloto</th>
            <th>ruta</th>
        </thead>
        <tbody>
            <tr *ngFor="let v of listado">
                <td>{{v.fecha_inicio}}</td>
                <td>{{v.hora_inicio}}</td>
                <td>{{v.fecha_fin}}</td>
                <td>{{v.hora_fin}}</td> 
                <td>{{v.asientos_vendidos}}</td>
                <td>{{v.nombre_piloto}}</td>
                <td>{{v.ruta}}</td>
                <td>
                    <a routerLink="/vuelos/edit/{{v.id}}" class="btn">Editar</a>
                    <button class="btn red" (click)="delete(v.id)">Eliminar</button>
                </td>
            </tr>
        </tbody>
    </table>
    
    </div>


 